.box {
    background-color: #f6f6f6;
    padding:          37px 45px 44px 71px;
    font-size:        @font-size-h2;
    font-weight:      300;
    box-shadow:       0 1px 3px fade(#363636, 15%);
    border-radius:    1px;
    letter-spacing:   0.012em;
    line-height:      1.5;
    display:          flex;

    &__icon {
        width:             31px;
        height:            31px;
        display:           inline-block;
        background-size:   contain;
        background-repeat: no-repeat;
        opacity:           0.693;
        margin:            auto 24px auto 0;

        &_type_game {
            background-image: data-uri('../icons/games32.png');

        }
    }

    &__text {
        width: 100%;
    }

}

@media (min-width: @screen-size-mobile + 1) {
    .box {
        &__text {
            margin-bottom: 3px;
        }
    }
}

@media (max-width: @screen-size-tablet) {
    .box {
        margin-left:     -15px;
        margin-right:    -15px;
        padding:         42px 15px 52px;
        text-align:      center;
        justify-content: center;

        &__icon_hidden-tablet {
            display: none;
        }
    }
}

@media (max-width: @screen-size-mobile) {
    .box {
        font-size:   1.5rem;
        padding:     37px 15px 40px 15px;
        text-shadow: 0 0 1px #aaa;
    }
}