.catalog {
    display:         flex;
    justify-content: flex-start;
    flex-direction:  row;
    flex-wrap:       wrap;
    margin-left:     -45px;
    padding-bottom:  3px;
    &__child {
        box-sizing:   border-box;
        width:        33.3333%;
        padding-left: 45px;
    }
}


@media (max-width: @screen-size-tablet) {
    .catalog {
        margin-left: -18px;
        &__child {
            padding-left: 18px;
            width:        50%;
        }

    }
}

@media (min-width: @screen-size-mobile + 1) and (max-width: @screen-size-tablet) {

    .catalog__child {
        &_order-tablet {
            &_first {
                order: -1;
            }
        }
    }
}

@media (max-width: @screen-size-mobile) {
    .catalog {
        margin-left:  -15px;
        margin-right: -15px;
        .catalog__child {
            padding-left: 0;
            width:        100%;
        }
    }
}