.teaser {
    color: white;
    &_level_secondary {
        height: 50%;
    }
    &__title {
        font-size:      @font-size-h1;
        text-transform: uppercase;
        font-weight:    normal;
    }
    &__subtitle {
        font-size:   @font-size-h2;
        font-weight: normal;
    }

    &__description {
        font-size:   @font-size-description;
        line-height: 1.5;
    }

    &__image {
        position: absolute;
        top:      0;
        height:   100%;
        width:    100%;
    }
    &__button {

    }
}