@global-color: #313131;
@primary-background: #3a3f44;
@button-background: #006f9e;

@font-size-smaller: .75rem;
@font-size-normal: .875rem;
@font-size-bigger: 1rem;
@font-size-description: 1.25rem;
@font-size-h1: 2.875rem;
@font-size-h2: 1.875rem;
@catalog-caption-font-size: 1.875rem;

@screen-size-desktop: 1200px;
@screen-size-tablet: 960px;
@screen-size-mobile: 480px;

@header-space-inner: 10px;

@header-width-left-side: 62.5%;
@header-width-right-side: 100 - @header-width-left-side;
